.portfolio-subsection h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-muted);
  margin-bottom: 2rem;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.portfolio-item {
  width: 120px;
  text-align: center;
  transition: transform 0.2s ease;
  display: grid;
  align-items: stretch;
  align-content: space-between;
  justify-items: center;
  justify-content: center;
  grid-template-rows: 3rem 9rem 3rem;
  border-bottom: 1rem var(--color-border);
}

.preview-style {
  font-size: 0.8rem;
  color: var(--color-muted);
  margin-bottom: 0.5rem;
}

.portfolio-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--color-border);
  margin-bottom: 0.5rem;
}
.portfolio-item-title {
  margin-bottom: 0.75rem;
}

.portfolio-item span {
  font-size: 0.9rem;
  display: block;
  margin-top: 0.25rem;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

/* --------------- DESKTOP MEDIA QUERY --------------- */
@media (min-width: 768px) {
  

}